@import 'postPage.css';
@import 'mainPage.css';
@import 'portfolio.css';
@import 'GPAcal.css';

@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  font-family:'Yusei Magic', sans-serif;
  color: rgb(43, 43, 43);
  background-color: #028174;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header{
  width: 100%;
  height: 300px;
  margin: 0;
  
  padding: 50px;

  background-color: #028174;
}

.header-txt{
  font-family:'Yusei Magic', sans-serif;
  font-size: 72px;
  text-align: center;
  text-emphasis: bold;
  color: #ffe3b3;
}



